.test-class{
  background:hsl(346, 78%, 9%);
}
header { background: blue;}
body{font-family: 'Merriweather', serif;
font-size: 16px}
/*:root   ---root selector is basically same as html in this context.*/
:root{
--primary:#808080;
--primary-variant:#4B0082;
--secondary:#1E90FF;
--secondary-variant:
--base-spacing:8px;

}
