.test-class{
  background:hsl(346, 78%, 9%);
}
header { background: blue;}
body{font-family: 'Merriweather', serif;
font-size: 16px}
/*:root   ---root selector is basically same as html in this context.*/
:root{
--primary:#808080;
--primary-variant:#4B0082;
--secondary:#1E90FF;
--base-spacing:8px;

}
body{


}

h1{
margin: calc(var(--base-spacing)*9)

}

header,
  section:nth-of-type(odd),
  footer{
    background:var(--primary);
    color: var(--primary-text);
  }

  nav{
border-top: var(--border-secondary);
border-bottom: var(--border-secondary);
min-height: 72px;

  }

footer{
  border-top:var(--border-primary);
}




/*Layout*/
header{
  display:flex;
  flex-direction:column;
  align-items: center;
text-align: center;
}
figure,
h2{
  margin:0;
}
img{

border-radius:50%;
}
/*box-shadow: "Figure Out how to use this shit"*/

h1{
  text-align:center;
}

nav ul{list-style-type: none;
text-align: center;
padding:0;
}
nav li{
  padding:var(--base-spacing) 0;
}

nav a{
  text-decoration: none;
}




.fas{
  font-size:48px;
}

nav .fas{
  margin:var(--base-spacing);
  position: absolute;
  transform: translateX(calc(100vw - var(--base-spacing) * 10));
}


nav .is-hidden{
  font-size:0;
 height: 0;
 opacity: 0;
}

.hero{
  background:url(https://picsum.photos/680/420)center center no-repeat;
  background-size:contain;
  /*background-repeat: no-repeat;*/
  background-size:cover;
  display:flex;
  justify-content:center;
  align-items: center;
  height:20vh;
  max-height: 420px;
}
